<!doctype html>
<html>
    <head>
        <!-- D3.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
        <script type="text/javascript" src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    </head>

    <body>
        <div id="graph"></div>
        <script type="text/javascript">
            const graph = {{graph | safe}};

            Plotly.plot(
                'graph',
                graph.data,
                graph.layout || {},
            );
        </script>
    </body>
</html>
